{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif w-90 w-80-m w-60-ns center mv2 mv5-ns"
  itemscope
  itemtype="http://schema.org/Article"
>

  <span class="b">/ </span>
  <a href="{{ .Site.BaseURL  }}" class="b bb bw1 pb1 no-underline black">{{ .Site.Title }}</a>
  <span class="b"> / </span>
  <a href="/book" class="b bb bw1 pb1 no-underline black">cărți</a>

  <section id="main" class="mt5">
    <h1 itemprop="name" id="title">{{ .Title }}</h1>
    <span class="f6 gray">{{ .Date.Format "January 2, 2006" }}</span>

      <article itemprop="articleBody" id="content" class="w-90 lh-copy">
        {{ .Content }}
      </article>

      <!-- last modified book -->
      <span class="f6 gray mv3" title="Lastmod: {{ .Lastmod.Format "January 2, 2006" }}. Published at: {{ .PublishDate.Format "2006-01-02" }}.">
        {{ if ne .Lastmod .PublishDate }}
          <span class="i">last modified</span> {{ dateFormat "January 2, 2006" .Lastmod }}
        {{ end }}
      </span>

      {{ if and (.Site.Taxonomies.genres) (isset .Params "genres") }}
        <section class="mt4">
          {{ $genres := .Params.genres | urlize  }}

          {{ $books := index .Site.Taxonomies.genres $genres }}
          <!-- todo: fix -->
          {{ if (gt ($books | len) 1)}}
            <h3> Alte cărți asemănătoare </h3>
            <ul class="list pl0">
              {{ range where $books "Title" "!=" .Title }}
                <li class="list pl0 lh-copy">
                  <a
                    class="f4 b dib black no-underline"
                    href="{{ .Permalink}}"
                    >{{ .Title }}</a>
                  <span class="f6 gray">{{ .Date.Format "January 2, 2006" }}</span>
                </li>
              {{ end }}
            </ul>
            </div>
          {{ end }}
        </section>
      {{ end }}

  </section>

  {{ partial "footer.html" . }}
  </body>
</html>
